.App {
  margin: 0px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App > button {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  gap: 10px;
}